questions.txt
results.txt
dat
im
*.h5
.cached_t*
*lock*
__pycache__
auto/lit/
iarpa
nccu_grant
papers
*.log
.old/
*.swp
*.pickle
*.png
bod
fadoua
jason
leaps_mps_21
mats
min_dynamics
morteza
na_protected
nato_protected
revision*
*.npy
temp*
*.pdf
tyler_burrows
us_protected
.gitignore
*.csv
*.pkl
*.xlsx
*.svg
.vscode
